mirrors:
  "gitea.tailbecff0.ts.net":
    endpoint:
      - "https://gitea.tailbecff0.ts.net"
configs:
  "gitea.tailbecff0.ts.net":
    auth:
      username: "ci-read"
      password: "{{ registry_ci_read_password }}"
