[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = False
vault_password_file = ./vault-password.sh
remote_user = ddowell

[privilege_escalation]
become = True
become_method = sudo
