configs:
  cm:
    admin.enabled: true
{% for user in managed_users %}
    accounts.{{ user.name }}: login,apiKey
{% endfor %}

  params:
    reposerver.parallelism.limit: "2"
    controller.status.processors: "20"
    controller.operation.processors: "10"
    server.insecure: true
    server.rootpath: /argocd

  rbac:
    policy.default: "role:readonly"
    policy.csv: |
{% for user in managed_users if user.argocd_admin | default(false) %}
      g, {{ user.name }}, role:admin
{% endfor %}

server:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - argocd.local
      - pi-k3s.chalupatech.com
    tls:
      - hosts:
          - argocd.local
          - pi-k3s.chalupatech.com
        secretName: argocd-server-tls
